<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <div>
        <a class="button" routerLink="/adiantamento">adiantamento</a>
        <a class="button" routerLink="/home">home</a>
      </div>

    </div>
  </header>

  <div class="client-wrapper">
    <form [formGroup]="form">
      <h2 class="title">cadastrar adiantamento</h2>

      <h4 class="title">dados do funcionario</h4>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <label for="employees">funcionário</label>
          <select class="input" name="employees" id="employees" formControlName="employee_id">
            <option *ngFor="let emp of employees$ | async" value="{{ emp.id }}">{{ emp.people.fName + ' ' + emp.people.lName }}</option>
          </select>
        </div>
      </div>

      <h4 class="title">dados do adiantamento</h4>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <label for="dt">data</label>
          <input type="date" name="dt" id="dt" formControlName="dt">
        </div>

        <div class="label-wrapper">
          <label for="amount">valor</label>
          <input type="text" name="amount" id="amount" placeholder="valor" formControlName="amount">
        </div>

        <div class="label-wrapper">
          <label for="status">status</label>
          <select class="input" name="status" id="status" formControlName="status">
            <option value="concluido">concluido</option>
            <option value="pendente" selected>pendente</option>
            <option value="cancelado">cancelado</option>
          </select>
        </div>
      </div>

      <button class="button" (click)="cadastrarAdvance()">cadastrar</button>
    </form>
  </div>
</main>
