<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <div>
        <a class="button" routerLink="/cliente">cliente</a>
        <a class="button" routerLink="/home">home</a>
      </div>

    </div>
  </header>

  <div class="client-wrapper">
    <section *ngIf="client$ | async as cli">
      <h2 class="title">detalhe do cliente</h2>

      <h4 class="title">dados pessoais</h4>

      <div class="name-wrapper">
        <div class="label-wrapper">
          <span>nome</span>
          <p class="input" name="fname">{{ cli.people.fName }}</p>
        </div>

        <div class="label-wrapper">
          <span>sobrenome</span>
          <p class="input" name="lname">{{ cli.people.lName ?  cli.people.lName : '-' }}</p>
        </div>
      </div>

      <div class="label-wrapper">
        <span>cpf</span>
        <p class="input" name="cpf">{{ cli.cpf ? cli.cpf : '-' }}</p>
      </div>

      <div class="label-wrapper">
        <span>data de nascimento</span>
        <p class="input" name="dtNasc">{{ cli.people.dtNasc ? cli.people.dtNasc : '-' }}</p>
      </div>

      <h4 *ngIf="cli.people.contact" class="title">dados de contato</h4>

      <div *ngIf="cli.people.contact" class="contact-wrapper">
        <div class="label-wrapper">
          <span>telefone</span>
          <p class="input" id="phone" name="phone">{{ cli.people.contact.phone ? cli.people.contact.phone : '-' }}</p>
        </div>

        <div class="label-wrapper">
          <label for="whatsapp">whatsapp</label>
          <p class="input" id="whatsapp" name="whatsapp">{{ cli.people.contact.whatsapp ? cli.people.contact.whatsapp : '-' }}</p>
        </div>

        <div class="label-wrapper">
          <span>email</span>
          <p class="input" id="email" name="email">{{ cli.people.contact.email ? cli.people.contact.email : '-' }}</p>
        </div>
      </div>

      <h4 *ngIf="cli.people.address" class="title">dados de endereço</h4>

      <div *ngIf="cli.people.address" class="contact-wrapper">
        <div class="label-wrapper">
          <span>cep</span>
          <p class="input" id="cep" name="cep">{{ cli.people.address.cep }}</p>
        </div>

        <div class="label-wrapper">
          <span>numero</span>
          <p class="input" id="number" name="number">{{ cli.people.address.number ? cli.people.address.number : '-' }}</p>
        </div>

        <div class="label-wrapper">
          <span>rua</span>
          <p class="input" id="street" name="street">{{ cli.people.address.street ? cli.people.address.street : '-' }}</p>
        </div>
      </div>

      <div *ngIf="cli.people.address" class="contact-wrapper">
        <div class="label-wrapper">
          <span>bairro</span>
          <p class="input" id="neighborhood" name="neighborhood">{{ cli.people.address.neighborhood ? cli.people.address.neighborhood : '-' }}</p>
        </div>

        <div class="label-wrapper">
          <span>estado</span>
          <p class="input" id="state" name="state">{{ cli.people.address.state ? cli.people.address.state : '-' }}</p>
        </div>

        <div class="label-wrapper">
          <span>uf</span>
          <p class="input" id="uf" name="uf">{{ cli.people.address.uf ? cli.people.address.uf : '-' }}</p>
        </div>
      </div>

      <div class="button-wrapper">
        <button class="button" (click)="editarCliente()">editar</button>
        <button class="button" (click)="deletarCliente()">deletar</button>
      </div>
    </section>
  </div>
</main>

