<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <div>
        <a class="button" routerLink="/os">ordem de serviço</a>
        <a class="button" routerLink="/home">home</a>
      </div>

    </div>
  </header>

  <div class="client-wrapper">
    <form>
      <h2 class="title">editar ordem de serviço</h2>

      <h4 class="title">dados do cliente</h4>

      <div class="label-wrapper">
        <label for="client">cliente</label>
        <select class="input" name="client" id="client" [(ngModel)]="selectedCli">
          <option disabled selected></option>
          <option *ngFor="let cli of clients" value="{{ cli.id }}">
            {{ cli.fname + ' ' + cli.lname}}
          </option>
        </select>
      </div>

      <h4 class="title">dados do carro</h4>

      <div class="label-wrapper">
        <label for="car">carro</label>
        <select class="input" name="car" id="car" [(ngModel)]="selectedCar">
          <option disabled selected></option>
          <option *ngFor="let car of cars" value="{{ car.id }}">
            {{ car.placa + ' / ' + car.automaker + ' - ' + car.model}}
          </option>
        </select>
      </div>

      <h4 class="title">dados da ordem de serviço</h4>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <label for="dtIn">data de entrada</label>
          <input type="date" name="dtIn" value="{{ os.dtIn }}">
        </div>

        <div class="label-wrapper">
          <label for="dtOut">data de saida</label>
          <input type="date" name="dtOut" value="{{ os.dtOut }}">
        </div>

        <div class="label-wrapper">
          <label for="status">status</label>
          <select class="input" name="status" id="status"  [(ngModel)]="selectedStatus">
            <option disabled selected></option>
            <option value="pendente">pendente</option>
            <option value="pago">pago</option>
            <option value="cancelado">cancelado</option>
          </select>
        </div>
      </div>

      <div class="label-wrapper">
        <label for="products">produtos</label>
        <div class="input" name="products" id="products">
          <p class="input" *ngFor="let osP of os.products; index as i">
            {{ osP.desc }} - {{ osP.qtdProducts }} - {{ osP.totalAmount | currency: 'BRL'}}

            <span>
              <button class="button" (click)="editarProdutoOs(i)">editar</button>
              <button class="button">deletar</button>
            </span>
          </p>
        </div>
      </div>

      <div class="label-wrapper">
        <label for="services">serviços</label>
        <div class="input" name="services" id="services">
          <p class="input" *ngFor="let osS of os.services; index as i">
            {{ osS.desc }} - {{ osS.amount | currency: 'BRL'}}

            <span>
              <button class="button" (click)="editarServicoOs(i)">editar</button>
              <button class="button">deletar</button>
            </span>
          </p>
        </div>
      </div>

      <div class="label-wrapper">
        <label for="payment">pagamentos</label>
        <div class="input" name="payment" id="payment">
          <p class="input" *ngFor="let osC of os.payment">
            {{ osC.typePay }} - {{ osC.amount | currency: 'BRL'}} - {{ osC.dtPay | date: 'dd/MM/yyyy' }}

            <span>
              <button class="button" (click)="editarPagamentoOs()">editar</button>
              <button class="button">deletar</button>
            </span>
          </p>
        </div>
      </div>

      <div class="button-wrapper">
        <button class="button" (click)="salvarOs()">salvar</button>
      </div>
    </form>
  </div>
</main>
