<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <div>
        <a class="button" routerLink="/adiantamento">adiantamento</a>
        <a class="button" routerLink="/home">home</a>
      </div>

    </div>
  </header>

  <div class="client-wrapper">
    <section *ngIf="advance$ | async as ad">
      <h2 class="title">detalhe do adiantamento</h2>

      <h4 class="title">dados do funcionario</h4>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <span>Funcionario</span>
          <p class="input" name="employee" id="employee">{{ ad.employee.people.fName + ' ' + ad.employee.people.lName}}</p>
        </div>
      </div>

      <h4 class="title">dados do adiantamento</h4>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <span>data</span>
          <p class="input" name="dt" id="dt">{{ ad.dt | date: 'dd/MM/yyyy' }}</p>
        </div>

        <div class="label-wrapper">
          <span>valor</span>
          <p class="input" name="amount" id="amount">{{ ad.amount | currency: 'BRL':'symbol':'1.2-2' }}</p>
        </div>

        <div class="label-wrapper">
          <span>status</span>
          <p class="input" name="status" id="status">{{ ad.status | uppercase }}</p>
        </div>
      </div>

      <div class="button-wrapper">
        <button class="button" (click)="editarAdvance()">editar</button>
        <button class="button" (click)="deletarAdvance()">deletar</button>
      </div>

    </section>
  </div>
</main>
