<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <div>
        <a class="button" routerLink="/produto">produto</a>
        <a class="button" routerLink="/home">home</a>
      </div>

    </div>
  </header>

  <div class="client-wrapper">
    <form [formGroup]="form">
      <h2 class="title">editar produto</h2>

      <h4 class="title">dados do produto</h4>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <label for="cod">código</label>
          <input type="text" id="cod" name="cod" placeholder="código" formControlName="cod">
        </div>

        <div class="label-wrapper">
          <label for="stock">estoque</label>
          <input type="text" id="stock" name="stock" placeholder="stock" formControlName="stock">
        </div>

        <div class="label-wrapper">
          <label for="ncm">ncm</label>
          <input type="text" id="ncm" name="ncm" placeholder="ncm" formControlName="ncm">
        </div>
      </div>

      <div class="label-wrapper">
        <label for="desc">descrição</label>
        <input type="text" id="desc" name="desc" formControlName="desc">
      </div>

      <div class="label-wrapper">
        <label for="price">preço</label>
        <input type="text" id="price" name="price" formControlName="price">
      </div>

      <button class="button" (click)="salvarProduto()">salvar</button>
    </form>
  </div>
</main>
