main {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

aside {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
  left: 0;
  position: fixed;

  background: var(--dark-3);

  ul {
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
  }

  p {
    color: var(--light-4);
    text-align: center;
    margin: 12px 0;

    span {
      font-weight: 700;
    }
  }
}

.componentes-wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  overflow-y: scroll;

  outline: 1px solid red;

  .componentes-card {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-1);

    background: var(--light-3);
  }
}
