<main>
  <aside>
    <h1>mecflow</h1>

    <ul>
      <li>ordens de serviços</li>
      <li>produtos</li>
      <li>clientes</li>
      <li>funcionarios</li>
      <li>adiantamentos</li>
      <li>pagamentos</li>
    </ul>

    <p>&copy; TZNR - <span>{{ ano.getFullYear() }}</span></p>
  </aside>

  <div class="componentes-wrapper">
    <div class="componentes-card">Exemplo de card</div>
    <div class="componentes-card">Exemplo de card</div>
    <div class="componentes-card">Exemplo de card</div>
    <div class="componentes-card">Exemplo de card</div>
    <div class="componentes-card">Exemplo de card</div>
  </div>
</main>
