<main>
  <aside>
    <h1 class="title-mec">mecflow</h1>

    <ul>
      <li><a class="button" routerLink="/os">ordens de serviços</a></li>
      <li><a class="button" routerLink="/">produtos</a></li>
      <li><a class="button" routerLink="/cliente">clientes</a></li>
      <li><a class="button" routerLink="/os">serviços</a></li>
      <li><a class="button" routerLink="/os">adiantamentos</a></li>
      <li><a class="button" routerLink="/os">pagamentos</a></li>
    </ul>

    <p>&copy; TZNR - <span>{{ ano.getFullYear() }}</span></p>
  </aside>

  <div class="componentes-wrapper">
    <div class="componentes-card">Exemplo de card</div>
    <div class="componentes-card">Exemplo de card</div>
    <div class="componentes-card">Exemplo de card</div>
    <div class="componentes-card">Exemplo de card</div>
    <div class="componentes-card">Exemplo de card</div>
  </div>
</main>
