<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <div>
        <a class="button" routerLink="/os/{{ idOs }}">ordem de serviço</a>
        <a class="button" routerLink="/home">home</a>
      </div>

    </div>
  </header>

  <div class="client-wrapper">
    <form>
      <h2 class="title">cadastrar pagamento</h2>

      <h4 class="title">dados do pagamento</h4>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <label for="dtPay">data do pagamento</label>
          <input type="date" name="dtPay" id="dtPay">
        </div>

        <div class="label-wrapper">
          <label for="typePay">tipo</label>
          <select class="input" name="typePay" id="typePay">
            <option disabled selected></option>
            <option value="credito">crédito</option>
            <option value="debito">débito</option>
            <option value="pix">pix</option>
            <option value="dinherio">dinherio</option>
          </select>
        </div>

        <div class="label-wrapper">
          <label for="status">status</label>
          <select class="input" name="status" id="status">
            <option disabled selected></option>
            <option value="pendente">pendente</option>
            <option value="pago">pago</option>
            <option value="cancelado">cancelado</option>
          </select>
        </div>
      </div>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <label for="amount">total do pagamento</label>
          <input type="text" name="amount" id="amount">
        </div>

        <div class="label-wrapper">
          <label for="totalDiscount">total de desconto</label>
          <input type="text" name="totalDiscount" id="totalDiscount">
        </div>

        <div class="label-wrapper">
          <label for="qtdParcelas">quantidade de parcelas</label>
          <input type="text" name="qtdParcelas" id="qtdParcelas">
        </div>
      </div>

      <button class="button" (click)="cadastrarPayment()">cadastrar</button>
    </form>
  </div>
</main>
