<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <div>
        <a class="button" routerLink="/produto">produto</a>
        <a class="button" routerLink="/home">home</a>
      </div>

    </div>
  </header>

  <div class="client-wrapper">
    <form [formGroup]="form">
      <h2 class="title">cadastrar produto</h2>

      <h4 class="title">dados do produto</h4>

      <!-- <input hidden type="text" name="id_os" formControlName="id_os"> -->

      <div class="label-wrapper">
        <label for="product">produto</label>
        <select class="input" name="product" id="product" formControlName="id_product" (change)="addPriceProduct()">
          <option *ngFor="let prod of products$ | async" value="{{ prod.id }}">{{ prod.cod + ' - ' + prod.desc }}</option>
        </select>
      </div>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <label for="quantity">quantidade do produto</label>
          <input type="text" name="quantity" id="quantity" placeholder="quantidade do produto" formControlName="quantity">
        </div>

        <div class="label-wrapper">
          <label for="employee">funcionario</label>
          <select class="input" name="employee" id="employee" formControlName="employee_id">
            <option *ngFor="let emp of employees$ | async" value="{{ emp.id }}">{{ emp.people.fName + ' ' + emp.people.lName }}</option>
          </select>
        </div>
      </div>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <label for="amount">preço</label>
          <input type="text" name="amount" id="amount" formControlName="amount">
        </div>

        <div class="label-wrapper">
          <label for="discount">desconto total</label>
          <input type="text" name="discount" id="discount" formControlName="discount">
        </div>
      </div>

      <button class="button" (click)="cadastrarProdutoOs()">cadastrar</button>
    </form>
  </div>
</main>
