<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <a class="button" routerLink="/home">home</a>
    </div>
  </header>

  <div class="client-wrapper">
    <div class="client-header">
      <h2 class="title">ordem de serviços</h2>

      <a class="button" [routerLink]="['cadastrar']">cadastrar</a>
    </div>

    <div class="client-table">
      <table>
        <thead>
          <tr>
            <td>placa</td>
            <td>cliente</td>
            <td>data</td>
            <td>status</td>
            <td>total</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let os of os$ | async;" (click)="detalheOs(os.id)">
            <td>{{ os.car.placa }}</td>
            <td>{{ os.client.people.fName }}</td>
            <td>{{ os.dtIn | date: 'dd/MM/yyyy' }}</td>
            <td>{{ os.status | uppercase }}</td>
            <td *ngIf="os.totalAmount; else zero">{{ os.totalAmount | currency: 'BRL':'symbol':'1.2-2' }}</td>
            <ng-template #zero>
              <td>{{ 0 | currency: 'BRL':'symbol':'1.2-2' }}</td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
