<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <a class="button" routerLink="/home">home</a>
    </div>
  </header>

  <div class="client-wrapper">
    <div class="client-header">
      <h2 class="title">ordem de serviços</h2>

      <a class="button" [routerLink]="['cadastrar']">cadastrar</a>
    </div>

    <div class="client-table">
      <table>
        <thead>
          <tr>
            <td>placa</td>
            <td>cliente</td>
            <td>data</td>
            <td>status</td>
            <td>total</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let os of oss;" (click)="detalheOs(os.id)">
            <td>{{ os.car.placa }}</td>
            <td>{{ os.client.fname + ' ' + os.client.lname }}</td>
            <td>{{ os.dtCad | date: 'dd/MM/yyyy' }}</td>
            <td>{{ os.status }}</td>
            <td>{{ os.totalAmount | currency: 'BRL'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
