<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <a class="button" routerLink="/home">home</a>
    </div>
  </header>

  <div class="client-wrapper">
    <div class="client-header">
      <h2 class="title">Funcionários</h2>
    </div>

    <div class="client-table">
      <table>
        <thead>
          <tr>
            <td>id</td>
            <td>nome</td>
            <td>data de nascimento</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let func of funcionarios;" (click)="detalheEmployee(func.id)">
            <td>{{ func.id }}</td>
            <td>{{ func.fname + ' ' +  func.lname}}</td>
            <td>{{ func.dtNasc }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
