<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <a class="button" routerLink="/home">home</a>
    </div>
  </header>

  <div class="client-wrapper">
    <div class="client-header">
      <h2 class="title">Funcionários</h2>
    </div>

    <div class="client-table">
      <table>
        <thead>
          <tr>
            <td>id</td>
            <td>nome</td>
            <td>taxa de comissão</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let emp of employees$ | async;" (click)="detalheEmployee(emp.id)">
            <td>{{ emp.id }}</td>
            <td>{{ emp.people.fName + ' ' +  emp.people.lName}}</td>
            <td>{{ emp.comission + '%' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
