<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <a class="button" routerLink="/home">home</a>
    </div>
  </header>

  <div class="client-wrapper">
    <div class="client-header">
      <h2 class="title">Clientes</h2>
    </div>

    <div class="client-table">
      <table>
        <thead>
          <tr>
            <td>id</td>
            <td>nome</td>
            <td>data de nascimento</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let func of funcionarios;">
            <td>{{ func.id }}</td>
            <td><a routerLink="/funcionario/{{ func.id }}">{{ func.fname + ' ' +  func.lname}}</a></td>
            <td>{{ func.dtNasc }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
