main {
  display: flex;
  justify-content: flex-end;
}

.login-container {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--light-1);
}

.login-form {
  // outline: 1px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 1rem;
  width: 100%;
}

.form-item {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 70%;
  gap: 10px;

  label {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--text-light);
  }
}
