<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <div>
        <a class="button" routerLink="/produto">produto</a>
        <a class="button" routerLink="/home">home</a>
      </div>

    </div>
  </header>

  <div class="client-wrapper">
    <section *ngIf="product$ | async as prod">
      <h2 class="title">detalhe do produto</h2>

      <h4 class="title">dados do produto</h4>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <p>código</p>
          <span class="input" id="cod" type="text" name="cod">{{ prod.cod }}</span>
        </div>

        <div class="label-wrapper">
          <p>estoque</p>
          <span class="input" type="text" name="stock">{{ prod.stock }}</span>
        </div>

        <div class="label-wrapper">
          <p>ncm</p>
          <span class="input" type="text" name="ncm">{{ prod.ncm == null ? "-" : prod.ncm }}</span>
        </div>
      </div>

      <div class="label-wrapper">
        <p>descrição</p>
        <span class="input" type="text" name="desc">{{ prod.desc }}</span>
      </div>

      <div class="label-wrapper">
        <p>preço</p>
        <span class="input" type="text" name="price">{{ prod.price }}</span>
      </div>

      <div class="button-wrapper">
        <button class="button" (click)="editarProduto()">editar</button>
        <button class="button" (click)="deletarProduto()">deletar</button>
      </div>
    </section>
  </div>
</main>
