<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <div>
        <a class="button" routerLink="/funcionario">funcionario</a>
        <a class="button" routerLink="/home">home</a>
      </div>

    </div>
  </header>

  <div class="client-wrapper">
    <section>
      <h2 class="title">cadastrar cliente</h2>

      <h4 class="title">dados pessoais</h4>

      <div class="name-wrapper">
        <div class="label-wrapper">
          <label for="fname">nome</label>
          <p class="input" name="fname">{{ func.fname }}</p>
        </div>

        <div class="label-wrapper">
          <label for="lname">sobrenome</label>
          <p class="input" name="lname">{{ func.lname }}</p>
        </div>
      </div>

      <div class="label-wrapper">
        <label for="comission">comissão</label>
        <p class="input" name="comission">{{ func.comission }}</p>
      </div>

      <div class="label-wrapper">
        <label for="dtNasc">data de nascimento</label>
        <p class="input" name="dtNasc">{{ func.dtNasc }}</p>
      </div>

      <h4 class="title">dados de contato</h4>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <label for="phone">telefone</label>
          <p class="input" name="phone">{{ func.phone }}</p>
        </div>

        <div class="label-wrapper">
          <label for="whatsapp">whatsapp</label>
          <p class="input" name="whatsapp">{{ func.whatsapp }}</p>
        </div>

        <div class="label-wrapper">
          <label for="email">email</label>
          <p class="input" name="email">{{ func.email }}</p>
        </div>
      </div>

      <h4 class="title">dados de endereço</h4>

      <div class="label-wrapper">
        <label for="cep">cep</label>
        <p class="input" name="cep">{{ func.cep }}</p>
      </div>

      <div class="label-wrapper">
        <label for="rua">rua</label>
        <p class="input" name="rua">{{ func.rua }}</p>
      </div>

      <div class="label-wrapper">
        <label for="casa">casa</label>
        <p class="input" name="casa">{{ func.casa }}</p>
      </div>

    </section>
  </div>
</main>
