<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <div>
        <a class="button" routerLink="/funcionario">funcionario</a>
        <a class="button" routerLink="/home">home</a>
      </div>

    </div>
  </header>

  <div class="client-wrapper">
    <section *ngIf="employee$ | async as emp">
      <h2 class="title">detalhe do funcionário</h2>

      <h4 class="title">dados do funcionário</h4>

      <div class="name-wrapper">
        <div class="label-wrapper">
          <span>nome</span>
          <p class="input" id="fName" name="fName">{{ emp.people.fName }}</p>
        </div>

        <div class="label-wrapper">
          <span>sobrenome</span>
          <p class="input" id="lName" name="lName">{{ emp.people.lName }}</p>
        </div>
      </div>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <span>comissão</span>
          <p class="input" id="comission" name="comission">{{ emp.comission + '%' }}</p>
        </div>

        <div class="label-wrapper">
          <span>salário</span>
          <p class="input" id="salary" name="salary">{{ emp.salary ? (emp.salary | currency: 'BRL':'symbol':'1.2-2') : '-' }}</p>
        </div>
      </div>

      <div class="label-wrapper">
        <span>data de nascimento</span>
        <p class="input" id="dtNasc" name="dtNasc">{{ emp.people.dtNasc ? emp.people.dtNasc : '-' }}</p>
      </div>

      <h4 *ngIf="emp.people.contact" class="title">dados de contato</h4>

      <div *ngIf="emp.people.contact" class="contact-wrapper">
        <div class="label-wrapper">
          <span>telefone</span>
          <p class="input" id="phone" name="phone">{{ emp.people.contact.phone ? emp.people.contact.phone : '-' }}</p>
        </div>

        <div class="label-wrapper">
          <span>whatsapp</span>
          <p class="input" id="whatsapp" name="whatsapp">{{ emp.people.contact.whatsapp ? emp.people.contact.whatsapp : '-' }}</p>
        </div>

        <div class="label-wrapper">
          <span>email</span>
          <p class="input" id="email" name="email">{{ emp.people.contact.email ? emp.people.contact.email : '-' }}</p>
        </div>
      </div>

      <h4 *ngIf="emp.people.address" class="title">dados de endereço</h4>

      <div *ngIf="emp.people.address" class="contact-wrapper">
        <div class="label-wrapper">
          <span>cep</span>
          <p class="input" id="cep" name="cep">{{ emp.people.address.cep }}</p>
        </div>

        <div class="label-wrapper">
          <span>numero</span>
          <p class="input" id="number" name="number">{{ emp.people.address.number ? emp.people.address.number : '-' }}</p>
        </div>

        <div class="label-wrapper">
          <span>rua</span>
          <p class="input" id="street" name="street">{{ emp.people.address.street ? emp.people.address.street : '-' }}</p>
        </div>
      </div>

      <div *ngIf="emp.people.address" class="contact-wrapper">
        <div class="label-wrapper">
          <span>bairro</span>
          <p class="input" id="neighborhood" name="neighborhood">{{ emp.people.address.neighborhood ? emp.people.address.neighborhood : '-' }}</p>
        </div>

        <div class="label-wrapper">
          <span>estado</span>
          <p class="input" id="state" name="state">{{ emp.people.address.state ? emp.people.address.state : '-' }}</p>
        </div>

        <div class="label-wrapper">
          <span>uf</span>
          <p class="input" id="uf" name="uf">{{ emp.people.address.uf ? emp.people.address.uf : '-' }}</p>
        </div>
      </div>
    </section>
  </div>
</main>
