<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <div>
        <a class="button" routerLink="/servico">serviço</a>
        <a class="button" routerLink="/home">home</a>
      </div>

    </div>
  </header>

  <div class="client-wrapper">
    <form [formGroup]="form">
      <h2 class="title">editar serviço</h2>

      <h4 class="title">dados do serviço</h4>

      <input hidden type="text" name="id" id="id" formControlName="id">

      <div class="label-wrapper">
        <label for="desc">descrição</label>
        <input type="text" id="desc" name="desc" formControlName="desc">
      </div>

      <div class="label-wrapper">
        <label for="amount">preço</label>
        <input type="text" id="amount" name="amount" formControlName="amount">
      </div>

      <button class="button" (click)="salvarServico()">salvar</button>
    </form>
  </div>
</main>
