<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <div>
        <a class="button" routerLink="/os">ordem de serviço</a>
        <a class="button" routerLink="/home">home</a>
      </div>

    </div>
  </header>

  <div class="client-wrapper">
    <section>
      <h2 class="title">detalhe da ordem de serviço</h2>

      <h4 class="title">dados do cliente</h4>

      <!-- <div class="label-wrapper" >
        <label for="client">cliente</label>
        <p class="input" name="client" id="client">{{ os.client.fname + ' ' + os.client.lname }}</p>
      </div>

      <h4 class="title">dados do carro</h4>

      <div class="label-wrapper">
        <label for="car">carro</label>
        <p class="input" name="car" id="car">{{ os.car.placa + ' / ' + os.car.automaker + ' - ' + os.car.model}}</p>
      </div>

      <h4 class="title">dados da ordem de serviço</h4>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <label for="dtIn">data de entrada</label>
          <p class="input" name="dtIn" id="dtIn">{{ os.dtIn | date: 'dd/MM/yyyy' }}</p>
        </div>

        <div class="label-wrapper">
          <label for="dtOut">data de saida</label>
          <p class="input" name="dtOut" id="dtOut">{{ os.dtOut | date: 'dd/MM/yyyy' }}</p>
        </div>

        <div class="label-wrapper">
          <label for="status">status</label>
          <p class="input" name="status" id="status">{{ os.status }}</p>
        </div>
      </div> -->

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <label for="products">produtos</label>
          <div class="input" name="products" id="products">
            <!-- <p class="input" *ngFor="let osP of os.products" (click)="detalheProdutoOs()">
              {{ osP.desc }} - {{ osP.qtdProducts }} - {{ osP.totalAmount | currency: 'BRL'}}
            </p> -->
          </div>
          <button class="button" (click)="cadastrarProdutoOs()">adicionar produto</button>
        </div>

        <div class="label-wrapper">
          <label for="services">serviços</label>
          <div class="input" name="services" id="services">
            <!-- <p class="input" *ngFor="let osS of os.services" (click)="detalheServicoOs()">
              {{ osS.desc }} - {{ osS.amount | currency: 'BRL'}}
            </p> -->
          </div>
          <button class="button" (click)="cadastrarServicoOs()">adicionar serviço</button>
        </div>

        <div class="label-wrapper">
          <label for="payment">pagamentos</label>
          <div class="input" name="payment" id="payment">
            <!-- <p class="input" *ngFor="let osC of os.payment" (click)="detalhePagamentoOs()">
              {{ osC.typePay }} - {{ osC.amount | currency: 'BRL'}} - {{ osC.dtPay | date: 'dd/MM/yyyy' }}
            </p> -->
          </div>
          <button class="button" (click)="cadastrarPagamentoOs()">adicionar pagamento</button>
        </div>
      </div>

      <div class="button-wrapper">
        <button class="button" (click)="editarOs()">editar</button>
        <button class="button" (click)="deletarOs()">deletar</button>
      </div>

    </section>
  </div>
</main>
