<main>
  <header>
    <div class="header-wrapper">
      <h1 class="title-mec">mecflow</h1>

      <div>
        <a class="button" routerLink="/carro">carro</a>
        <a class="button" routerLink="/home">home</a>
      </div>

    </div>
  </header>

  <div class="client-wrapper">
    <section>
      <h2 class="title">detalhe do carro</h2>

      <h4 class="title">dados do carro</h4>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <label for="placa">placa</label>
          <p class="input" type="text" name="placa" placeholder="placa">{{ car.placa }}</p>
        </div>

        <div class="label-wrapper">
          <label for="fYear">ano de fabricação</label>
          <p class="input" type="text" name="fYear" placeholder="ano de fabricação">{{ car.fYear }}</p>
        </div>

        <div class="label-wrapper">
          <label for="mYear">ano do modelo</label>
          <p class="input" type="text" name="mYear" placeholder="ano do modelo">{{ car.mYear }}</p>
        </div>
      </div>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <label for="automaker">marca</label>
          <p class="input" type="text" name="automaker" placeholder="marca">{{ car.automaker }}</p>
        </div>

        <div class="label-wrapper">
          <label for="model">modelo</label>
          <p class="input" type="text" name="model" placeholder="modelo">{{ car.model }}</p>
        </div>

        <div class="label-wrapper">
          <label for="color">cor</label>
          <p class="input" type="text" name="color" placeholder="cor">{{ car.color }}</p>
        </div>
      </div>

      <div class="contact-wrapper">
        <div class="label-wrapper">
          <label for="capacity">cilindradas</label>
          <p class="input" type="text" name="capacity" placeholder="cilindradas">{{ car.capacity }}</p>
        </div>

        <div class="label-wrapper">
          <label for="engine">quantidade de valvulas</label>
          <p class="input" type="text" name="engine" placeholder="quantidade de valvulas">{{ car.engine }}</p>
        </div>
      </div>

      <div class="button-wrapper">
        <button class="button" (click)="editarCar()">editar</button>
        <button class="button" (click)="deletarCar()">deletar</button>
      </div>

    </section>
  </div>
</main>
